{{#if this.shouldRender}}
    <div class="category-stats">
        <h3 class="sidebar-heading">Category stats</h3>
        <div class="stats-grid">
            <div class="stat-month">
                <div class="stat">{{this.category.topics_month}}</div>
                <div class="stat-label">Topics this month</div>
            </div>
            <div class="stats-alltime">
                <div class="stat">{{this.category.topics_all_time}}</div>
                <div class="stat-label">Total topics</div>
            </div>
        </div>
    </div>
{{/if}}