{{#if this.shouldRender}}
  <div class="category-resources">
    <h3 class="sidebar-heading">Resources</h3>
    {{#each this.customCategoryData.resources as |resource|}}
      <CategoryResourceGroup @resource={{resource}} />
    {{/each}}
  </div>
{{/if}}