body {
  overflow: hidden;
}

.search-banner .custom-search-banner .custom-search-banner-wrap {
  h1 {
    font-size: 30px;
    margin-top: 4px;
  }
  .search-menu {
    width: 300px;
    .search-icon .d-icon-search {
      font-size: 20px;
    }
  }
  .search-input {
    input#search-term[type="text"] {
      height: 50px;
      border-radius: 32px;
    }
    .searching {
      top: 25%;
    }
  }
}

.custom-stats {
  display: none;
}

.categories-list #main-outlet {
  margin: 0 12px;
}

.section-heading {
  z-index: 1;
  margin: 0;
}

.featured-categories-wrapper {
  .carousel-next,
  .carousel-prev {
    display: none;
  }
  .featured-categories {
    width: inherit;
  }
  .featured-categories-slider {
    overflow: unset;
    overflow-y: scroll;
    scrollbar-width: none;
  }
}

.navigation-container {
  li.navigation-toggle {
    border: none;
    background-color: var(--primary-low);
    color: var(--primary) !important;
    font-size: 14px;
    border-radius: 9px;
  }
}

.category-list-heading {
  margin-top: 12px;
}

.category-list.with-topics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;
  column-gap: 12px;
  .category-list-item {
    border: none !important;
    margin: 0;
    padding: 0;
    height: 120px;
    &.category h3 {
      padding-left: 20px;
    }
    .category-title-link {
      margin: 0;
      flex-direction: column-reverse;
      .category-text-title {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        .category-name {
          font-size: 13px;
          font-weight: 700;
          white-space: pre-wrap;
        }
      }
      .category-logo {
        width: 30px;
        margin: 0;
      }
    }
    tbody {
      tr {
        height: 120px;
        border-radius: 10px;
        display: block;
        .main-link {
          padding-top: 14px;
        }
      }
      tr.category-topic-link,
      tr.subcategories-list {
        display: none;
      }
    }
    footer {
      display: none;
    }
  }
}

* {
  --d-wrap-padding-h: 14px !important;
}

#main-outlet .list-container .topic-list {
  .topic-list-data {
    padding: 7px 0;
  }
  td.topic-list-data {
    padding: 20px 0;
    padding-bottom: 30px;
    .topic-excerpt {
      max-height: 3lh;
    }
  }
  tbody {
    border-top: 1px solid var(--primary-low);
  }

  li details.select-kit {
    summary {
      padding: 8px 12px !important;
    }
  }
  .topic-item-stats {
    width: 100%;
  }
}

nav.post-controls .actions .double-button {
  margin-left: 0;
}

#main-outlet .list-container .topic-list tbody {
  border-top: none;
}

#main .category-title-header {
  background-color: var(--primary-50) !important;
  color: var(--primary) !important;
  font-size: 14px;
  width: 100%;
  .category-logo img {
    width: 48px;
    height: 48px;
  }
  .category-title-contents {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 12px;
    .category-title {
      font-size: 20px;
    }
    .category-banner-controls {
      gap: 12px;
      margin-top: 10px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}


.resources {
  margin: 0 28px;
  .resource-card-group {
    flex-direction: column;
    grid-gap: 16px;
    .resource-card {
      width: 330px;
      height: 265px;
    }
  }
  .section-heading {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.category-title-header {
  background-color: var(--primary-50) !important;
  color: var(--primary) !important;
  font-size: 14px;
  width: 100%;
  .category-logo img {
    width: 48px;
    height: 48px;
  }
  .category-title-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    .category-title {
      align-self: center;
    }
  }
}

.mobile-category-stats {
  margin-bottom: 24px;
}

.custom-footer {
  &-inner {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
    padding: 18px 14px;
    .footer-links {
      flex-wrap: wrap;
      row-gap: 5px;
    }
    a {
      color: var(--primary);
    }
  }
}