<div class="category-banner-controls">
  {{#if this.showInstall}}<a href={{this.installLink}} class="install">Install</a>{{/if}}
  <div class="btn-post" {{on "click" this.newTopic }}>Post Topic</div>
</div>