<div class="custom-footer-inner">
  <div>
    <span class="footer-item">
        Copyright © 2023 Adobe. All rights reserved.
    </span>
  </div>
  <div class="footer-links"> 
    <a class="footer-item" href="/t5/ct-using-the-community/ct-p/ct-Using-the-Community">
      Using the Community
    </a>
    <a class="footer-item" href="https://experienceleague.adobe.com">
      Experience League
    </a>
    <a class="footer-item" href="https://www.adobe.com/legal/terms.html">
      Terms of Use
    </a>
    <a class="footer-item" href="https://www.adobe.com/privacy.html">
      Privacy
    </a>
    <a class="footer-item" >Cookie preferences</a>
    <a class="footer-item" href="https://www.adobe.com/privacy/us-rights.html">
      Do not sell or share my personal information
    </a>
    <a class="footer-item" href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads">
      <img loading="lazy" src="https://community.adobe.com/html/@282E2B4ACDCF2813053FC2BB40123E8F/assets/adchoices.svg" alt="ad choices">AdChoices
    </a>
  </div>
</div>