* {
  --d-max-width: 950px;
  font-family: "Ubuntu", "Times New Roman", Times, serif !important;
  letter-spacing: -0.2px;
}

body {
  // Prevent using category background image for topic lists
  background-image: none !important;
}

p {
  letter-spacing: 0;
}

.select-kit.combo-box {
  .combo-box-header {
    background-color: #e6e6e6;
    border-radius: 9px;
    font-size: 14px;
    border: none;
    color: var(--primary) !important;
    padding: 0px 13px;
    &:hover {
      background-color: #d5d5d5;
    }
  }
}
.nav-pills > li > a {
  background: none;
  border-radius: 9px;
  font-size: 14px;
}
.nav-pills > li a.active,
.nav-pills > li button.active,
.nav-pills > li > a:hover,
.nav-pills > li button:hover {
  color: var(--primary);
  background-color: #d5d5d5;
  border-radius: 9px;
}

.category-boxes {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .category-box {
    width: 100%;
    height: 84px;
    border: none;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s;
    &:hover {
      box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    }
    h3 {
      font-size: 13px;
      font-weight: 700;
      text-align: left;
      margin: 0;
    }
    &-inner {
      display: grid;
      grid-template-columns: 30px auto;
      grid-template-rows: auto auto;
      height: fit-content;
      border: none;
      flex-direction: row;
      column-gap: 12px;
      row-gap: 4px;
      padding: 13px !important;
      margin-top: 3px;
      .category-logo {
        grid-column: 1;
        grid-row: 1 / 3;
        margin-top: 3px;
        .aspect-image {
          margin: 0;
          img {
            width: 30px;
            height: 29px;
            min-width: 30px;
            min-height: 20px;
            margin: 0;
            margin-top: 3px;
          }
        }
      }
      .category-details {
        grid-column: 2;
        grid-row: 1;
        .description {
          display: none;
        }
        .subcategories {
          display: none;
        }
      }
    }
  }
}

.d-header {
  box-shadow: none;
  border-bottom: 1px solid #eaeaea;
  .panel {
    width: 219px;
    .d-header-icons {
      margin: 0;
    }
  }
  &-icons .d-icon {
    color: #707070;
    font-size: 18px;
  }
}

.section-heading {
  font-size: 20px;
  font-weight: 800;
  margin-top: 28px;
  margin-bottom: 12px;
}

.featured-categories-wrapper {
  height: 278px;
  min-height: 278px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 278px;
    background-color: #f8f8f8;
  }
  .featured-categories-heading {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 1px;
  }
  .featured-categories {
    display: flex;
    position: relative;
    height: fit-content;
    align-items: center;
    justify-content: flex-start;
    width: 940px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    .carousel-prev,
    .carousel-next {
      height: 30px;
      width: 30px;
      position: absolute;
      background-color: white;
      border-radius: 64px;
      border: none;
      z-index: 2;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    }
    .carousel-prev {
      left: -14px;
    }
    .carousel-next {
      right: -3px;
    }
    &-slider {
      overflow: hidden;
      padding: 6px 0;
      &-content {
        display: flex;
        width: fit-content;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s ease-in-out;
        .featured-category {
          z-index: 1;
          position: relative;
          width: 288px;
          height: 155px;
          margin-right: 31px;
          margin-left: 1px;
          background-color: white;
          border-radius: 10px;
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
          transition: box-shadow 1s;
          &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
          }
          &-content {
            .category-background {
              position: absolute;
              background-size: cover;
              left: 0;
              top: 0;
              width: 100%;
              height: 61px;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
            .category-logo {
              height: 29px;
              width: 28px;
              margin-top: 45px;
              margin-left: 13px;
              border: 1px solid white;
              border-radius: 6px;
              position: relative;
            }
            .category-details {
              display: flex;
              padding: 6px 20px 13px 13px;
              box-sizing: border-box;
              justify-content: space-between;
              .text {
                display: flex;
                flex-direction: column;
                gap: 2px;
                color: var(--primary);
                .category-name {
                  font-weight: 700;
                }
              }
              .btn-visit {
                background-color: #222222;
                color: var(--secondary);
                border-radius: 16px;
                border: none;
                font-size: 13px;
                font-weight: 600;
                padding: 4px 15px;
                padding-bottom: 6px;
                margin-top: 5px;
                height: 22px;
              }
            }
          }
        }
      }
    }
  }
}

.custom-topic-count {
  .icon {
    width: 15px;
    height: 16.5px;
    background: url($discussions);
    background-size: cover;
    background-position: center;
    border: none;
  }
  display: flex;
  gap: 6px;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  color: #4b4b4b;
}

.search-banner {
  background-position: center;
  .custom-search-banner {
    height: 250px;
    .custom-search-banner-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 46px 0 0 0 !important;
      & > div {
        width: 408px;
        max-width: 408px;
      }
      h1 {
        font-size: 26px;
        letter-spacing: -0.2px;
        color: var(--secondary);
        margin-top: 20px;
      }
      .btn.search-icon:not(.has-search-button-text) {
        left: 8px;
      }
      .search-input {
        background: none;
        border: none;
        padding: 0 !important;
        input {
          background: white !important;
          border: none;
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.35);
          border-radius: 16px;
        }
        .searching {
          position: absolute;
          right: 16px;
        }
        input#search-term[type="text"] {
          padding: 1px 46px;
          height: 33px;
        }
      }
      .custom-stats {
        max-width: none;
        width: auto;
        .stat-banner__wrapper {
          background: none;
          padding: 0;
        }
        ul {
          display: flex;
          gap: 20px;
          li {
            & > * {
              gap: 4px;
            }
            span:first-child,
            span:last-child {
              font-size: 14px;
              color: var(--secondary);
            }
          }
        }
      }
    }
  }
}

.resources {
  display: flex;
  align-content: center;
  flex-direction: column;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 700px;
    background-color: #f8f8f8;
  }
  .section-heading {
    z-index: 1;
    align-self: flex-start;
  }
  .resource-card-group {
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    .resource-card {
      display: flex;
      width: 288px;
      height: 265px;
      flex-direction: column;
      background-size: cover;
      border-radius: 10px;
      padding: 20px;
      padding-bottom: 8px;
      box-sizing: border-box;
      background-position-x: 50%;
      background-position-y: 50%;
      .header {
        display: flex;
        align-items: center;
        .logo {
          width: 29px;
          height: 28px;
        }
        h4 {
          margin: 0;
          font-size: 17px;
          font-weight: 600;
        }
        .outlink-icon {
          width: 20px;
          height: 20px;
          margin-left: auto;
          background-image: url($outlink);
          background-size: cover;
        }
      }
      p {
        margin: 0;
        margin-top: 4px;
        font-size: 12px;
      }
      .caption {
        margin-top: auto;
        font-size: 11px;
        letter-spacing: -0.3px;
      }
      &.invert {
        color: white;
        .outlink-icon {
          background-image: url($outlink-light);
        }
      }
      &.large h4 {
        font-size: 22px;
        font-weight: 500;
        margin-left: 10px;
        letter-spacing: -1px;
      }
    }
  }
}

@media (width < 1200px) {
  .d-header .panel {
    width: auto;
  }
}

@media (width < 960px) {
  .category-boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width < 720px) {
  .category-boxes {
    grid-template-columns: 1fr 1fr;
  }
}
