<section class="resources">
    <h3 class="section-heading">Learn with Adobe</h3>
    <div class="resource-card-group"><ResourceCard @group="learning" @id="1"/><ResourceCard @group="learning" @id="2"/><ResourceCard @group="learning" @id="3"/></div>
    <h3 class="section-heading">More places to connect</h3>
    <div class="resource-card-group"><ResourceCard @group="connect" @id="1"/><ResourceCard @group="connect" @id="2"/><ResourceCard @group="connect" @id="3"/></div>
</section>